<div class="course-card">
  <div class="course-card-definition">
    <h3>{{ course.title }}</h3>
    <p>{{ ellipsisDescription }}</p>
  </div>
  <div class="course-card-info">
    <div class="info-item">
      <span class="name">{{ authorsLabelText }}:</span>
      <span class="value"> {{ formatAuthors }}</span>
    </div>
    <div class="info-item">
      <span class="name">{{ durationLabelText }}:</span>
      <span class="value"> {{ formatDuration }}</span>
    </div>
    <div class="info-item">
      <span class="name">{{ createdLabelText }}:</span>
      <span class="value"> {{ formatDate }}</span>
    </div>
    <ng-content></ng-content>
  </div>
</div>
